* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #242526;
}

#container {
   width: 400px;
    height: 400px;
    background-color: #f5f5f5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 5px -5px 30px #f8f8f8;
}

.chrome-logo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: inset 0px 0px 160px rgba(0, 0, 0, 0.05);
    background: -webkit-linear-gradient(83.5deg, transparent 68%, #df3224 32%),

        -webkit-linear-gradient(335deg, transparent 62%, #fbc20d 33%),

        -webkit-linear-gradient(220deg, transparent 62%, #4DB849 38%, #259d49),

        -webkit-linear-gradient(150deg, transparent 54%, #df3224 33%);
}

#circle {
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background-color: #1374e9;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 20px solid white;
}